footer {
  text-align: center;
  padding: 1rem;
  background-color: #fffaf0;
  color: #4b2e2e;
  font-size: 0.95rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

body > footer {
  margin-top: auto;
}

footer::before {
  content: "🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵🪵";
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.logo-footer {
  height: 50px;
  display: block;
  margin: 0 auto 0.5rem auto;
}
footer .logo-barriles {
  height: 60px;
  margin-bottom: 0.5rem;
}