@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #desayunos {
    flex-direction: column;
    align-items: center;
  }

  .producto {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .overlay h1 {
    font-size: 2.5rem;
  }

  .overlay h2 {
    font-size: 1.2rem;
  }

  .btn-ver-menu {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}
@media (max-width: 600px) {
  #titulo-bebidas h2 {
    font-size: 1.8rem;
  }
}